target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.tar
*.tar.gzi*.jar
*.war
*.zip
*.tar
*.tar.gz*.jar
*.war
*.zip
*.tar
*.tar.gz


# eclipse ignore
.settings/
.project
.classpath

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
